@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --primary-color: #00bf8f;
    --background-color: #121212;
    --text-color: #ffffff;
    --secondary-text: #99B7AE;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.cursor-circle {
    position: fixed;
    width: 30px;
    height: 30px;
    background-color: #00bf8f;
    border-radius: 50%;
    opacity: 50%;
    pointer-events: none;
    will-change: transform;
    transition: transform 0.07s ease;
    z-index: 100000000;
}

@media (max-width: 768px) {
    .cursor-circle {
        display: none;
    }
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 2.2rem;
    position: fixed;
    width: 90%;
    max-width: 1200px;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #242424;
    z-index: 1000;
    border-radius: 50px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.nav-links a {
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.3s;
}

.nav-links .active {
    color: #69CBAE;
}

.nav-links .active:hover {
    color: #69CBAE;
}

.nav-links a:hover {
    color: var(--primary-color);
}

.page-transition-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 99999;
    pointer-events: none;
}

.page-transition-loader .loader-bg {
    position: absolute;
    width: 50.5%;
    height: 100%;
    background-color: #000;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

.page-transition-loader .loader-bg.bg-left {
    left: 0;
}

.page-transition-loader .loader-bg.bg-right {
    right: 0;
}

@keyframes pt-drawLine {
    0% { height: 0%; }
    100% { height: 100%; }
}
.page-transition-loader.finished .loader-bg.bg-left {
    transform: translateX(-100%);
}

.page-transition-loader.finished .loader-bg.bg-right {
    transform: translateX(100%);
}

.page-transition-loader.finished .vertical-line {
    opacity: 0;
    transition: opacity 0.3s ease;
}

body.pt-loading {
    overflow: hidden;
}

.contact-btn {
    background-color: var(--primary-color);
    padding: 0.7rem 1.2rem;
    border-radius: 50px;
}

.contact-btn:hover{
    background-color: #242424;
    transition: background-color 0.3s ease, border 0.3s ease;
    border: var(--primary-color) 3px solid;
}

.contact-btn2 {
    background-color: #242424;
    padding: 0.7rem 1.2rem;
    border-radius: 50px;
    border: #69CBAE 3px solid;
}

section {
    min-height: 100vh;
    padding: 5rem 10%;
}

.hero {
    padding-top: 10vh;
}

h1 {
    font-size: 4rem;
    color: var(--primary-color);
    margin: 0rem 0;
}

.tagline {
    font-size: 2rem;
    color: var(--secondary-text);
    margin-bottom: 1rem;
    font-weight: bold;
}

.HomeBtn {
    max-height: 30px;
}

.cta-buttons {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}

.description {
    font-size: 1.3rem;
    max-width: 60vw;
}

.btn {
    padding: 0.8rem 1.5rem;
    border: 3px solid var(--primary-color);
    border-radius: 50px;
    color: var(--text-color);
    text-decoration: none;
    transition: all 0.3s;
}

.btn:hover {
    background-color: var(--primary-color);
}

.expertise-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 2rem;
}

.expertise-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.05);
}

.expertise-item img {
    width: 60px;
    height: 60px;
    object-fit: contain;
    margin-bottom: 10px;
}

.education-item {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 1rem;
    border-radius: 10px;
}

.edu-img {
    width: 60px;
    height: 60px;
    object-fit: contain;
    flex-shrink: 0;
    border-radius: 5px;
    background-color: #fff;
    padding: 3px;
}

.edu-content {
    flex: 1;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-top: 2rem;
}

.project-card {
    display: flex;
    align-items: center;
    background-color: #242424;
    border-radius: 10px;
    overflow: hidden;
    padding: 1rem;
    gap: 20px;
}

.project-img {
    width: 150px;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    flex-shrink: 0;
}

.project-content {
    flex: 1;
}

.project-links {
    display: flex;
    gap: 1rem;
    margin-top: 10px;
}

.project-links a {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s;
}

.date {
    color: #8A8A8A;
}

.github {
    background-color: #18232d;
    color: white;
}

.github:hover {
    background-color: #202d38;
}

.view {
    background-color: var(--primary-color);
    color: white;
}

.view:hover {
    opacity: 0.7;
}

.project-links img {
    width: 20px;
    height: 20px;
}

.contact-form {
    max-width: 600px;
    margin: 2rem auto;
}

.contact-form textarea,
.contact-form input {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #242424;
    border: none;
    border-radius: 15px;
    color: var(--text-color);
    border: #fff 3px solid;
}

.contact-form button {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 0.7rem 1rem;
    border: none;
    font-weight: bold;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.09s ease-in-out;
}

.contact-form button:hover {
    border: var(--primary-color) 3px solid;
    color: var(--primary-color);
    background-color: #121212;
}

.social-links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    margin-bottom: 2rem;
    justify-content: center;
    max-width: 400px;
    margin: 0 auto;
}

.social-links a {
    display: flex;
    align-items: center;
    gap: 15px;
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s;
}

.social-links a img {
    width: 32px;
    height: 32px;
}

.social-links a:hover {
    color: var(--primary-color);
}

.certifications-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-top: 2rem;
}

.certification-card {
    display: flex;
    align-items: center;
    background-color: #242424;
    border-radius: 10px;
    overflow: hidden;
    padding: 1rem;
    gap: 20px;
}

.certification-card img {
    width: 150px;
    height: auto;
    object-fit: cover;
    flex-shrink: 0;
}

.certification-content {
    flex: 1;
}

.certificate {
    border-radius: 10px;
}

.certification-card .credentials {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    margin-top: 10px;
    transition: all 0.3s;
}

.certification-card .credentials:hover {
    color: #00bf8f;
}

.certification-card .credentials img {
    width: 20px;
    height: 20px;
}

.menu-toggle {
    display: none;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    position: absolute;
    top: 1.2rem;
    right: 5%;
}

.menu-toggle .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: var(--text-color);
    transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
    body {
        font-size: 14px;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.8rem;
    }

    .tagline {
        font-size: 1.5rem;
    }

    section {
        padding: 4rem 5%;
    }

    nav {
        width: 100%;
        top: 0;
        left: 0;
        transform: none;
        border-radius: 0;
        padding: 1rem 5%;
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #242424;
        padding: 1rem 0;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 999;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .nav-links.show {
        display: flex;
    }

    .nav-links li {
        margin: 0.5rem 0;
        text-align: center;
        width: 100%;
    }

    .nav-links a {
        padding: 0.8rem 0;
        display: block;
    }

    .contact-btn, .contact-btn2 {
        padding: 0.8rem 1.5rem;
        margin: 0.5rem auto 0;
        display: inline-block;
        border: none;
    }
    .contact-btn2 {
        border: none;
        color: var(--text-color);
        background-color: var(--primary-color);
    }
    .nav-links .active {
      background-color: rgba(105, 203, 174, 0.2);
      border-radius: 5px;
    }

    .menu-toggle {
        display: block;
        position: absolute;
        top: 1.2rem;
        right: 5%;
        cursor: pointer;
        background: none;
        border: none;
    }

    .menu-toggle .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        background-color: var(--text-color);
        transition: all 0.3s ease-in-out;
    }

    .menu-toggle.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .menu-toggle.active .bar:nth-child(2) {
        opacity: 0;
    }
    .menu-toggle.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .hero {
        padding-top: 15vh;
        text-align: center;
    }

    .description {
        font-size: 1.1rem;
        max-width: 90vw;
        margin: 1rem auto;
    }

    .cta-buttons {
        flex-direction: column;
        align-items: center;
        gap: 0.8rem;
    }

    .btn {
        width: 80%;
        text-align: center;
    }

    .expertise-grid,
    .projects-grid,
    .certifications-grid,
    .social-links {
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }

    .education-item,
    .project-card,
    .certification-card {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1rem;
        padding: 1.5rem 1rem;
    }

    .edu-img,
    .project-img,
    .certification-card .certificate {
        width: 25%;
        max-width: 200px;
        height: auto;
        flex-shrink: 1;
        margin-bottom: 1rem;
    }

    .project-content, .edu-content, .certification-content {
        width: 100%;
    }

    .project-links {
        justify-content: center;
        flex-wrap: wrap;
    }

    .contact-form {
        max-width: 90%;
    }

    .social-links {
        max-width: 90%;
        justify-items: center;
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .social-links a {
        font-size: 1.1rem;
        justify-content: center;
    }

    .cursor-circle {
        display: none;
    }
}